<html>

<head>
  <title>Be Right Back</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<style>
.flex-container {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

</style>>
<body>
  <div class="flex-container">
    <h1>Unable to detetct your face and ID Proof!</h1>
    <p class="lead">Plese try again.</p>
    <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
  </div>
</body>

</html>